cxxmdr:
   url:
   username:
   password:
   basicUsername:
   basicPassword:
fhirTsUrl:
openEhrUrl:
openEhrUser:
openEhrPassword:
target: raw
mapping:
  /Patient:
    source: obds-patient
    sourceVersion: 1
    target: openehr-obds-patient
    targetVersion: 1
    split: false
depthLimit: 4