mode:
fhirTsUrl:
fhirServerUrl:
fhirServerKeystore:
fhirServerKeystorePassword:
openEhrUrl:
openEhrUser:
openEhrPassword:
cxxmdr:
   url:
   token:
   username:
   password:
   basicUsername:
   basicPassword:
kafka:
  clientID:
  url:
  group:
  offset: earliest
  readTopic:
  errorTopic:
  pollDuration:
  pollRecords:
mapping:
  /Patient:
    source: obds-patient
    sourceVersion: 1
    target: openehr-obds-patient
    targetVersion: 1
    split: false
    global: false
    templateId:
    update: false
    list: false
depthLimit: 4
systemId:
dev: false
namespace:
cacheSize:
testDataDir:
serverCheck:
  enabled: true
  intervalMs: 5000
  timeoutMs: 0
