cxxmdr:
   url:
   username:
   password:
   basicUsername:
   basicPassword:
fhirTsUrl:
openEhrUrl:
openEhrUser:
openEhrPassword:
target:
mapping:
  /Patient/Meldung/Tumorzuordnung:
    source: 
    sourceVersion: 1
    target: 
    targetVersion: 1
    split: false
    templateId:
depthLimit: 4